<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./dictionary.js"></script>
    <title>Q'adrasq Dictionary</title>
</head>

<body>
    <div class="container" id="app">
        <div class="jumbotron">
            <a href="https://henguerz.github.io/qjadrasq/" class="btn">
                <svg style="font-size: smaller;" xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#00000"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
                HOME PAGE
            </a>
            <button id="theme-switch" class="float-right btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Zm0-80q88 0 158-48.5T740-375q-20 5-40 8t-40 3q-123 0-209.5-86.5T364-660q0-20 3-40t8-40q-78 32-126.5 102T200-480q0 116 82 198t198 82Zm-10-270Z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#00000"><path d="M480-360q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35Zm0 80q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Zm326-268Z"/></svg>
            </button>
            <h1>Dictionary</h1>
            <p>The Official Q'adrasq Dictionary.</p>
        </div>
        <div v-for="item in dictionary" :id="`${item.word}`">
            <div>
                <h2>
                    {{ item.word }}
                </h2>
                <h6>
                    <span class="badge badge-info">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#e8eaed"><path d="m798-322-62-62q44-41 69-97t25-119q0-63-25-118t-69-96l62-64q56 53 89 125t33 153q0 81-33 153t-89 125ZM670-450l-64-64q18-17 29-38.5t11-47.5q0-26-11-47.5T606-686l64-64q32 29 50 67.5t18 82.5q0 44-18 82.5T670-450Zm-310 10q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-120v-112q0-33 17-62t47-44q51-26 115-44t141-18q77 0 141 18t115 44q30 15 47 44t17 62v112H40Zm80-80h480v-32q0-11-5.5-20T580-266q-36-18-92.5-36T360-320q-71 0-127.5 18T140-266q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-600q0-33-23.5-56.5T360-680q-33 0-56.5 23.5T280-600q0 33 23.5 56.5T360-520Zm0-80Zm0 400Z"/></svg>
                        [{{ item.pronunciation }}]
                    </span>
                </h6>
            </div>
            <div v-for="use in item.uses">
                <h5><span v-if="use.hasBadge" class="badge badge-secondary"><samp>{{ use.badgeText }}</samp></span> <span class="badge badge-primary badge-pill"><i>{{ use.type }}</i></span> {{ use.explanation }}</h5>
                <strong>{{ use.example }}</strong>
                <div v-if="glosses">
                    <samp>{{ use.gloss }}</samp>
                </div>
                <i>{{ use.exampleTranslation }}</i>
            </div>
            <hr/>
        </div>

        <footer>
            <strong class="text-left float">{{ randomCatchphrase }} {{ dictionary.length }} words!</strong>
            <a class="float-right" style="color: var(--text-color);" href="http://rj.chytrak.cz/Conlangs/Utilities/" target="_blank"><i>Made with Dictionary Maker by RadarDev</i></a>
        </footer>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                dictionary: externalDictionary,
                glosses: dictionaryHaveGlosses,
                randomCatchphrase: '',
                catchphrases: ['Explaining', 'Home to', 'Having exactly', 'Serving', 'Accomodating', "Containing", "This haves", "Dictionary size:"],
                interval: null,
            },
			methods: {
				getRandomItem() {
					var randomIndex = Math.floor(Math.random() * this.catchphrases.length);
					this.randomCatchphrase = this.catchphrases[randomIndex];
				},
			},
            beforeMount() {
                this.getRandomItem()
                this.interval = setInterval(this.getRandomItem(), 1000);
            },

        });
    </script>
    <script>
        let darkmode = localStorage.getItem('darkmode')
        const themeSwitch = document.getElementById('theme-switch')

        const enableDarkmode = () => {
            document.body.classList.add('darkmode')
            localStorage.setItem('darkmode', 'active')
        }
        const disableDarkmode = () => {
            document.body.classList.remove('darkmode')
            localStorage.setItem('darkmode', null)
        }

        if(darkmode === "active") enableDarkmode()

        themeSwitch.addEventListener("click", () => {
            console.log('theme switched??/')
            darkmode = localStorage.getItem('darkmode')
            darkmode !== "active" ? enableDarkmode() : disableDarkmode()
        })
    </script>
</body>

</html>