<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./dictionary.js"></script>
    <title>Dictionary Editor</title>
</head>

<body class="darkmode">
    <div class="container mt-4 mb-4" id="app">
        <div class="row">
            <div class="col-sm-10">
                <div class="row mb-3">
                    <label for="word" class="col-sm-2">Word:</label>
                    <input type="text" class="form-control col-sm-5" id="word" v-model="currentWord.word" />

                    <button style="margin-left:1%;" class="btn btn-outline-danger" v-on:click="deleteWord(currentWord.word)">Delete Word</button>
                </div>
                <div class="row mb-3">
                    <label for="pronunciation" class="col-sm-2">Pronunciation:</label>
                    <input type="text" class="form-control col-sm-5" id="pronunciation" v-model="currentWord.pronunciation">
                </div>
                <div class="row">
                    <label for="body" class="col-sm-2 col-form-label">Uses:</label>
                    <div style="padding-left: 0;" class="col-sm-10">
                        <div class="row form-group" v-for="(value, idx) in currentWord.uses">
                            <div class="col-sm-2">
                                <h4><button class="btn btn-sm btn-outline-danger" v-on:click="removeUse(idx)">-</button> Use {{ idx + 1 }} :</h4>
                            </div>
                            <div class="col-sm-10">
                                <div class="row mb-1">
                                    <label for="badgeText" class="col-sm-4 col-form-label">Has badge? </label>
                                    <div class="col-sm-2">
                                        <input type="checkbox" class="form-control" id="hasBadge"
                                            v-model="currentWord.uses[idx].hasBadge" />
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="badgeText" class="col-sm-4 col-form-label">Use badge: </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="badgeText"
                                            v-model="currentWord.uses[idx].badgeText" />
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="type" class="col-sm-4 col-form-label">Use type: </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="type"
                                            v-model="currentWord.uses[idx].type" />
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="explanation" class="col-sm-4 col-form-label">Explanation: </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="explanation"
                                            v-model="currentWord.uses[idx].explanation" />
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="example" class="col-sm-4 col-form-label">Example: </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="example"
                                            v-model="currentWord.uses[idx].example" />
                                    </div>
                                </div>
                                <div class="row mb-1" v-if="hasGlosses">
                                    <label for="glosses" class="col-sm-4 col-form-label">Gloss: </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="glosses"
                                            v-model="currentWord.uses[idx].gloss" />
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="exampleTranslation" class="col-sm-4 col-form-label">Example (Translate):
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="exampleTranslation"
                                            v-model="currentWord.uses[idx].exampleTranslation" />
                                    </div>
                                </div>

                            </div>

                        </div>
                        <button class="btn btn-primary" v-on:click="addUse()">+ Add Use</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="btn-toolbar" v-for="value in getUses()">
                    <div class="btn-group btn-group-sm">
                        <button v-on:click="continueTo(value.word)"
                            v-bind:class="'btn ' + (value.active ? 'btn-warning' : 'btn-secondary') ">{{ value.word }}
                    </div>
                </div>
                <button class="btn btn-primary btn-sm" v-on:click="addWord()">+ Add Word</button>
            </div>
            <hr />
            <div class="col-sm-12 mt-4">
                <hr/>
                <button style="margin-left:1%;" class="btn btn-outline-primary" v-on:click="sortDictionary">Sort</button>
                <button class="btn btn-outline-secondary" v-on:click="copyToClipboard('src')">Copy</button>
                <textarea style="background-color: var(--base-variant);" id="src" readonly v-model="dictionaryToString" class="form-control" rows="10"></textarea>
            </div>
        </div>
    </div>

    <script>

        var app = new Vue({
            el: '#app',
            data: {
                dictionary: externalDictionary,
                hasGlosses: dictionaryHaveGlosses,
                index: 0,
                badgeChoices: ["ARCHAIC", "SLANG"],
                typeChoices: ["NOUN", "VERB", "ADJECTIVE", "SPECIAL"],
            },
            computed: {
                currentWord: function () {
                    return this.dictionary[this.index];
                },
                dictionaryToString: function () {
                    return "dictionaryHaveGlosses = " + this.hasGlosses + ",\n" + "externalDictionary = " + JSON.stringify(this.dictionary, null, 4);
                }
            },
            methods: {
                copyToClipboard(selector) {
                    var el = document.getElementById(selector);
                    el.select();
                    document.execCommand("copy");
                },
                getUses: function () {
                    var pole = [];
                    for (var i = 0; i < this.dictionary.length; i++) {
                        var insa = [];
                        for (var j = 0; j < this.dictionary[i].uses.length; j++) {
                            insa.push({
                                hasBadge: this.dictionary[i].uses[j].hasBadge,
                                badgeText: this.dictionary[i].uses[j].badgeText,
                                type: this.dictionary[i].uses[j].type,
                                explanation: this.dictionary[i].uses[j].explanation,
                                example: this.dictionary[i].uses[j].example,
                                exampleTranslation: this.dictionary[i].uses[j].exampleTranslation,
                            });
                        }
                        pole.push({
                            uses: insa,
                            active: this.dictionary[i] == this.dictionary[this.index],
                            word: this.dictionary[i].word,
                        });
                    }
                    return pole;
                },
                addWord: function () {
                    this.dictionary.push({
                        word: "word",
                        pronunciation: "ipa",
                        uses: [{
                            hasBadge: false,
                            badgeText: "",
                            type: "Word Type",
                            explanation: "Explain usage here.",
                            example: "Usage example (in Q'adrasq)",
                            exampleTranslation: "Usage example (translated)",
                            gloss: "help-less-ness"
                        }]
                    });
                },
                sortDictionary: function () {
                    this.dictionary.sort(function (a, b) {
                        if (a.word.toLowerCase() < b.word.toLowerCase())
                            return -1;
                        if (a.word.toLowerCase() > b.word.toLowerCase())
                            return 1;
                        return 0;
                    });
                },
                deleteWord: function (word) {
                    var idx = 0;
                    for (var i = 0; i < this.dictionary.length; i++) {
                        if (this.dictionary[i].word == word) {
                            idx = i;
                            break;
                        }
                    }
                    if (confirm('Delete the word: "' + this.dictionary[idx].word + '"?')) {
                        this.dictionary.splice(idx, 1);
                        this.continueTo(this.dictionary[0].word);
                    }
                },
                addUse: function () {
                    this.currentWord.uses.push({
                        hasBadge: false,
                        badgeText: "",
                        type: "WORD TYPE",
                        explanation: "Explain usage here.",
                        example: "Usage example (in Q'adrasq)",
                        exampleTranslation: "Usage example (translated)",
                        gloss: "help-less-ness"
                    });
                },
                removeUse: function (idx) {
                    if (confirm('Remove use: "' + this.currentWord.uses[idx].explanation + '"?'))
                        this.currentWord.uses.splice(idx, 1);
                },
                continueTo: function (label) {
                    console.log(label)
                    for (var i = 0; i < this.dictionary.length; i++) {
                        if (this.dictionary[i].word == label) {
                            this.index = i;
                            return;
                        }
                    }
                }
            }
        });

    </script>
</body>

</html>