:root{
    --base-color: #fff;
    --base-variant: #e9ecef;
    --primary-color: #a4a9b3;
    --secondary-color: #858b94;
    --text-color: black;
}

.darkmode{
    --base-color: #0f131a;
    --base-variant: #1a1d24;
    --primary-color: #3c3f43;
    --secondary-color: #5c6066;
    --text-color: #e9ebf0;
}

hr{
    border-color: var(--base-variant)
}

body{
    color: var(--text-color);
    background-color: var(--base-color);
}

.hidden{
    display: none;
}
.darkmode #theme-switch svg:first-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    display: block;
}

.btn:hover{
    color: var(--text-color);
}
.btn{
    fill: var(--text-color);
    color: var(--text-color);
    background-color: var(--primary-color);
}

#theme-switch svg:last-child{
    display: none;
}

#theme-switch{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

#contents{
    color: var(--text-color);
}
#contents li{
    background-color: var(--base-variant);
}

.form-control{
    color: var(--text-color);
    border-color: var(--primary-color);
    background-color: var(--base-variant) !important;
    color: var(--text-color);
}

.form-control:focus{
    background-color: var(--base-variant)
}

.jumbotron{
    padding-top: 2%;
    padding-bottom: 4%;
    background-color: var(--base-variant);
}

#dictionary-filter input{
    border-color: var(--primary-color);
    color: var(--text-color);
}

#base-converter input{
    border-color: var(--primary-color);
    color: var(--text-color);
}